<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Zui!</title>
  <!-- zui -->
  <link href="../../static/css/zui.min.css" rel="stylesheet">
  <link href="../../static/css/style.css" rel="stylesheet">
  <title></title>
</head>
<body class="login_body" id="login_body">

<div class="container">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand navbar_white" href="#">Working-Days</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="nav_a">关于</a></li>
          <li><a href="#" class="nav_a">技术支持</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 login_box">
      <div class="row icon_row">
        <span class="icon icon-trophy icon_white"></span>
      </div>


      <div class="row input_item">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="手机号">
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row input_item">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="密&nbsp&nbsp&nbsp码">
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row input_item">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <input class="btn btn-block login_button" type="button" value="登&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp录">
        </div>
        <div class="col-sm-1"></div>
      </div>


    </div>
    <div class="col-sm-3"></div>
  </div>
</div>


<script>
  setTimeout(function () {
    document.getElementsByTagName('body')[0].style.height = window.innerHeight + 'px';
  }, 20);
</script>
</body>
</html>