<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Zui!</title>
  <!-- zui -->
  <link href="../../static/css/zui.min.css" rel="stylesheet">
  <link href="../../static/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="../../static/lib/jquery.1.11.0.min.js"></script>
  <script type="text/javascript" src="../../static/lib/zui.min.js"></script>
  <title></title>
</head>
<body>
  <div class="row">
    <div class="col-sm-2">
      <nav class="menu" data-toggle="menu" style="width: 200px">
        <button class="btn btn-primary"><i class="icon-edit"></i> CREATE</button>
        <button class="btn"><i class="icon-cloud-upload"></i> UPLOAD</button>
        <ul class="nav nav-primary">
          <li><a href="javascript:;"><i class="icon-th"></i> Dashboard</a></li>
          <li><a href="javascript:;"><i class="icon-user"></i> Me</a></li>
          <li class="nav-parent">
            <a href="javascript:;"><i class="icon-time"></i> Time<i class="icon-chevron-right nav-parent-fold-icon"></i><i class="icon-chevron-right nav-parent-fold-icon"></i></a>
            <ul class="nav" style="display: none;">
              <li><a href="javascript:;">Today</a></li>
              <li><a href="javascript:;">Tomarrow</a></li>
              <li><a href="javascript:;">Yestorday</a></li>
              <li><a href="javascript:;">This Week</a></li>
            </ul>
          </li>
          <li><a href="javascript:;"><i class="icon-trash"></i> Trash</a></li>
          <li><a href="javascript:;"><i class="icon-list-ul"></i> All</a></li>
          <li class="active nav-parent show">
            <a href="javascript:;"><i class="icon-tasks"></i> Status<i class="icon-chevron-right nav-parent-fold-icon icon-rotate-90"></i><i class="icon-chevron-right nav-parent-fold-icon icon-rotate-90"></i></a>
            <ul class="nav" style="display: block;">
              <li><a href="javascript:;"><i class="icon-circle-blank"></i> Ready</a></li>
              <li class="active"><a href="javascript:;"><i class="icon-play-sign"></i> Ongoing</a></li>
              <li><a href="javascript:;"><i class="icon-ok-sign"></i> Completed</a></li>
            </ul>
          </li>
        </ul>
      </nav>    </div>
    <div class="col-sm-10">

    </div>
  </div>

</body>
</html>